*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}
.outer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top: 250px;
    background-color: white;
    border-radius: 20px;
    width:250px;
    height:270px;
}
.go{
    border-radius:20px;
    width:200px;
    height: 23px;
    background-color: black;
    color: white;
    font-family: cursive;
}
.go:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
    font-family: cursive;
}
.no{
    margin-bottom:10px;
    font-family: cursive;
}
.take{
    border-radius:20px;
    width:100px;
    font-family: cursive;
}
.take:hover{
    background-color: black;
    color: white;
}
#what{
    border:none;
    border-bottom:2px solid black;
    font-family: cursive;
}
#redeem{
    border:none;
    border-bottom:2px solid black;
    font-family: cursive;
}